@font-face {
    font-family: "Alagard";
    src: url("@fonts/alagard.ttf");
}
@font-face{
    font-family: "BuggedBit";
    src: url("@fonts/BuggedBit.ttf")
}
@font-face {
    font-family: "Dion";
    src: url("@fonts/Dion.otf");
}
@font-face {
    font-family: "holstein";
    src: url("@fonts/holstein.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "holstein";
    src: url("@fonts/holsb___.ttf");
    font-weight: bold;
}
@font-face {
    font-family: "Taigatru";
    src: url("@fonts/TAIGATRU.TTF");
    font-weight: bold;
}
/**/
@font-face{
    font-family: "Titles";
    src: url("../fonts/ArigatouGozaimasu-1Gnqg.ttf")
}
@font-face{
    font-family: "Titles2";
    src: url("../fonts/ArigatouGozaimasu-Rp0LW.otf")
}
@font-face{
    font-family: "secundary";
    src:url("../fonts/CuteAurora-PK3lZ.ttf")
}

@font-face{
    font-family: "paragraph";
    src:url("../fonts/FuturaHandwritten.ttf")
}
@font-face{
    font-family: "cuts";
    src:url("../fonts/cutpoint\ 3.1.ttf")
}

@font-face{
    font-family: "mounster";
    src:url("../fonts/Monsterize.ttf")
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root{
    --back:#fcfcfc;
    --background-color:#010102;
    
    --primary:#fa4cce;
    --secundary:#F9A1E7;

    --glitch-1:#FCFF03;
    --glitch-2:#04FEFC;
    --glitch-3:#14ff24;
    --glitch-4:#FF0507;
    --glitch-5:#FA04FC;

    --link-navbar:22px;
    --link-user-control:14px;
    --button-user-control:24px;
}
html,body{
    margin: 0;
    padding: 0;

}
