@font-face{
    font-family: "Titles";
    src: url("../fonts/ArigatouGozaimasu-1Gnqg.ttf")
}
@font-face{
    font-family: "Titles2";
    src: url("../fonts/ArigatouGozaimasu-Rp0LW.otf")
}
@font-face{
    font-family: "secundary";
    src:url("../fonts/CuteAurora-PK3lZ.ttf")
}

@font-face{
    font-family: "paragraph";
    src:url("../fonts/FuturaHandwritten.ttf")
}
@font-face{
    font-family: "cuts";
    src:url("../fonts/cutpoint\ 3.1.ttf")
}

@font-face{
    font-family: "mounster";
    src:url("../fonts/Monsterize.ttf")
}

:root{
    --background-color:#ffe5ec;
    --secundary:#FCB0C6;
    --primary:#fb6f92;

    --link-navbar:22px;
    --link-user-control:14px;
    --button-user-control:24px;
}
html,body{
    margin: 0;
    padding: 0;

}
h1{
    font-family: "Titles2";
}

